---
import Test from "../components/Test.astro";

Astro.response.headers.set(
  "CDN-Cache-Control",
  "public, max-age=300, s-maxage=3600"
);

const random = Math.random() * 1000;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>
      This is a static page (following value should never change): <strong
        >{random}</strong
      >
    </p>
    <br />
    <Test server:defer>
      <p slot="fallback">loading...</p>
    </Test>
  </body>
</html>
